body {
    font-family: "Ubuntu", sans-serif;
    background-color: var(--preto);
    cursor: url('https://cdn.custom-cursor.com/db/5774/32/1spiderman--128.png'), auto;
}

a {
    text-decoration: none;
    color: var(--branco);
}

p {
    color: var(--branco);
    font-size: 18px;
    line-height: 125%;
}

.btn {
    background-color: var(--transparente);
    border-radius: 30px;
    padding: 15px 30px;
    border: 1px solid var(--branco);
    transition: all .4s;
}

.btn:hover {
    background-color: var(--vermelho);
    border-color: var(--vermelho);
}

.fancybox__container {
    --fancybox-bg: rgb(0 0 0 / 82%);
}

.fancybox__content {
    padding: 0;
}

header .container {
    position: fixed;
    z-index: 10;
    top: 25px;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    background: #fff;
    background: rgba( 0, 0, 0, 0.75 );
    backdrop-filter: blur( 1px );
    -webkit-backdrop-filter: blur( 1px );
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
}

header .logo {
    max-width: 150px;
    width: 100%;
}

header nav {
    display: flex;
    align-items: center;
    gap: 50px;
}

header nav ul {
    display: flex;
    align-items: center;
    gap: 20px;
}

header nav ul li a {
    transition: all .4s;
}

header nav ul li a:hover {
color: var(--vermelho);
}

header nav .btn {
    background: var(--vermelho);
    border-color: var(--vermelho);
}

header nav .btn:hover {
    background: var(--transparente);
    border-color: var(--branco);
}

header .icon-menu-hamburguer,
.menu-hamburguer {
    display: none;
}

.banner.box-fancy {
    max-width: 400px;
    width: 100%;
}

.banner.box-fancy li a {
    border-bottom: 1px solid var(--vermelho);
}

.box-fancy {
    display: none;
    height: 70vh;
    padding: 40px 15px 40px 30px;
    background-color: var(--preto);
    overflow: hidden;
    border-radius: 50px;
}

.is-close-btn {
    right: 15px !important;
    top: 15px !important;
    border: 1px solid var(--vermelho) !important;
    border-radius: 30px;
}

.box-fancy .container-md {
    overflow: hidden;
}

.box-fancy .conteudo {
    margin-left: auto;
    float: none;
    height: 100%;
    padding: 0;
}

.box-fancy .conteudo .infos {
    margin-top: 15px;
    float: none;
    overflow: auto;
    height: 100%;
    padding-right: 30px;
}

.box-fancy p {
    color: var(--branco);
    font-size: 16px;
}

.box-fancy .conteudo h4 {
    font-size: 16px;
    line-height: 125%;
    color: var(--vermelho);
    text-transform: uppercase;
    font-weight: 600;
    margin: 30px 0 10px 0;
}

.box-fancy .conteudo ul {
    list-style: disc;
    padding-left: 20px;
}

.box-fancy .conteudo ul li {
    font-size: 16px;
    line-height: 125%;
    margin-bottom: 8px;
    color: var(--vermelho);
}

.box-fancy .conteudo ul li span {
    font-size: 16px;
    line-height: 125%;
    color: var(--branco);
}

.box-fancy .conteudo .infos::-webkit-scrollbar {
    width: 12px;
}

.box-fancy .conteudo .infos::-webkit-scrollbar-track {
    background: #ffffff0e;
}

.box-fancy .conteudo .infos::-webkit-scrollbar-thumb {
    background-color: var(--vermelho);
}




#topo {
    position: relative;
    height: 100vh;
    overflow: hidden;
}

#topo .swiper-pagination {
    position: absolute;
    right: 20px;
    top: 50%;
    transform: translateY(-50%);
    display: flex;
    flex-direction: column;
    align-items: end;
    gap: 9px;
    left: auto ;
    bottom: auto;
    width: auto !important;
}

#topo .swiper-pagination span {
    content: '';
    width: 18px;
    height: 18px;
    border-radius: 10px;
    border: 1px solid var(--branco);
    background-color: var(--transparente);
    display: block;
    cursor: pointer;
    font-size: 0;
    transition: all .4s;
    opacity: 0.8;
}

#topo .swiper-pagination span:hover {
    background-color: var(--vermelho);
}

#topo .swiper-pagination span.swiper-pagination-bullet-active {
    height: 30px;
    background-color: var(--vermelho);
}

#topo .banner {
    background-size: cover;
    background-position: center;
    height: 100vh;
    width: 100%;
}

#topo .banner.banner1 {
    background-image: linear-gradient(to left, transparent 0%, #000000ed 80%), url('../img/banner-vingadores-ultimato.webp');
}

#topo .banner.banner2 {
    background-image: linear-gradient(to left, transparent 0%, #000000ed 80%), url('../img/banner-homem-aranha-sem-volta-para-casa.webp');
}

#topo .banner.banner3 {
    background-image: linear-gradient(to left, transparent 0%, #000000ed 80%), url('../img/banner-invasao-secreta.webp');
}

#topo .banner.banner4 {
    background-image: linear-gradient(to left, transparent 0%, #000000ed 80%), url('../img/banner-invasao-secreta.webp');
    background-image: linear-gradient(to left, transparent 0%, #000000ed 80%), url('../img/banner-loki.webp');
}

#topo .banner .informacao {
    height: 100vh;
    display: flex;
    /* align-items: center; */
    flex-direction: column;
    justify-content: center;
}

#topo .banner .informacao img {
    max-width: 170px;
    width: 100%;
    margin-bottom: 30px;
}

#topo h1 {
    color: var(--branco);
    font-size: 35px;
    font-weight: 600;
    margin-bottom: 20px;
}

#topo h1 span {
    color: var(--vermelho);
    display: block;
    font-size: 80px;
    margin-top: -20px;
}

#topo .banner .infos {
    margin: 15px 0 20px 0;
}

#topo .banner .infos li {
    color: var(--branco);
    font-size: 13px;
    display: inline-flex;
    margin-right: 10px;
    gap: 3px;
}

#topo .banner .infos li i {
    margin-right: 3px;
}


#topo .banner .informacao .botoes {
    display: flex;
    align-items: center;
    gap: 20px;
}

#topo .banner .informacao .botoes .btn i {
    margin-right: 8px;
}

/* PERSONAGENS */
#personagens {
    overflow: hidden;
    padding: 40px 0 80px 0;
    position: relative;
}

#personagens .martelo-thor {
    width: 100px;
    transform-origin: top left;
    transition: transform 0.5s ease;
    margin-bottom: 80px;
}

#personagens .container {
    position: relative;
}

#personagens h2 {
    color: var(--branco);
    font-size: 60px;
    text-transform: uppercase;
    font-weight: 600;
}

#personagens h2 span {
    color: var(--vermelho);
    display: block;
    font-size: 80px;
    margin-top: -25px;
}

#personagens .itens-personagens {
    margin-top: 30px;
}

#personagens .buttons {
    display: flex;
    align-items: center;
    gap: 10px;
    position: absolute;
    right: 0;
    bottom: 0;
}

#personagens .buttons > div{
    color: var(--branco);
    font-size: 35px;
    transition: all .5s;
    cursor: pointer;
}

#personagens .buttons > div:hover {
    color: var(--vermelho);
    transform: scale(1.1);
}

#personagens .item {
    transition: all .5s;
    display: flex;
    align-items: end;
    overflow: hidden;
    border-radius: 20px;
    cursor: pointer;
}

#personagens .item img {
    width: 100%;
    transition: all .5s;
    transform: scale(1.18) translateY(5%);
    filter: grayscale(100%);
}

#personagens .item:hover img {
    transform: scale(1.6) translateY(25%);
    object-fit: cover;
    filter: drop-shadow(10px 7px 10px rgba(0, 0, 0, 0.405));
    filter: grayscale(0);
}

#personagens .item .infos {
    position: absolute;
    left: 50%;
    bottom: -100px;
    width: 100%;
    padding: 60px 10px 30px 10px;
    transform: translateX(-50%);
    text-align: center;
    color: var(--branco);
    background: linear-gradient(180deg, transparent 0%,  #00000091 50%, #000000dc 100%);
    opacity: 0;
    transition: all .5s;
    text-transform: uppercase;
    font-weight: 500;
}

#personagens .item:hover .infos {
    opacity: 1;
    bottom: 0px;
}

#personagens .item .infos p:nth-child(2) {
    font-size: 14px;
    font-weight: 400;
    margin-top: 5px;
}

.box-fancy img {
    position: absolute;
    top: 0;
    left: 0;
    height: 110%;
    width: 30%;
    object-fit: cover;
    border-radius: 0 50px 0 0;
}

.box-fancy .conteudo h3 {
    color: var(--vermelho);
    font-weight: 600;
    text-transform: uppercase;
    font-size: 35px;
    line-height: 90%;
    margin-bottom: 5px;
}

/* .box-fancy .conteudo .infos > p::first-letter {
    color: var(--vermelho);
    font-size: 2em;
    font-weight: 500;
} */

#filmes {
    background-color: var(--cinza-escuro) !important;
    padding: 80px 0;
    background-image: linear-gradient(to left, #000000f3 50%, #000000f3 50%), url('../img/banner-filmes.webp');
    background-size: cover;
    background-position: center;
}

#filmes h2 {
    color: var(--branco);
    font-size: 60px;
    text-transform: uppercase;
    font-weight: 600;
    text-align: end;
}

#filmes h2 span {
    color: var(--branco);
    display: block;
    font-size: 80px;
    background-color: var(--vermelho);
    width: max-content;
    margin-left: auto;
    position: relative;
}

.d-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-auto-rows: 1fr;
    grid-column-gap: 15px;
    grid-row-gap: 25px;
    margin-top: 50px;
}

.d-grid a .box-img {
    overflow: hidden;
    height: 410px;
}

.d-grid a img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: all .5s;
}

.d-grid a:hover img {
    transform: scale(1.1);
}

.d-grid a p:nth-child(1) {
    margin-top: 10px;
    display: -webkit-box;
-webkit-line-clamp: 1; /** número de linhas que você quer exibir */
-webkit-box-orient: vertical;
overflow: hidden;
text-overflow: ellipsis;
}

.d-grid a p:nth-child(2) {
font-size: 14px;
}

#filmes .botao {
    margin-top: 50px;
    text-align: center;
}

/* FOOTER */
footer {
    background-color: var(--preto);
    border-top: 10px solid var(--vermelho);
    padding: 60px 0;
    border-top: 10px solid transparent;
    border-image: linear-gradient(to right, var(--vermelho), var(--preto)) 1;
    overflow: hidden;
    margin-top: -2px;
}

footer .logo {
    max-width: 130px;
    margin-bottom: 20px;
}

footer nav {
    margin-left: auto;
}

footer nav ul {
    display: flex;
    align-items: center;
    gap: 15px;
    justify-content: end;
}

footer nav ul.icons {
    margin-top: 20px;
}

footer nav ul.icons li {
    border-radius: 20px;
    border: 1px solid var(--branco);
    padding: 10px;
    transition: all .4s;
}

footer nav ul.icons li:hover {
    transform: scale(1.1);
    border-color: var(--vermelho);
}

footer nav ul li a {
    transition: all .4s;
}

footer nav ul li:hover a {
    color: var(--vermelho);
}

.personagem-rodape {
    padding-top: 50px;
}


.topo-sobre {
    margin-top: 200px;
    height: auto !important;
    padding-bottom: 100px;
}

.topo-sobre h1 {
    color: var(--branco);
    font-size: 60px;
    text-transform: uppercase;
    font-weight: 600;
}

.topo-sobre h1 span {
    color: var(--vermelho);
    display: block;
    font-size: 80px;
    margin-top: -20px;
}

.topo-sobre img.img-lateral {
    position: absolute;
    right: -10%;
    top: 0;
    max-width: 40%;
    animation: rotate 15s linear infinite;
}

@keyframes rotate {
	0% {
		transform: rotate(0);
	}
	100% {
		transform: rotate(360deg);
	}
}



.topo-contato {
    margin-top: 200px;
    height: auto !important;
    padding-bottom: 300px;
}

.topo-contato h1 {
    color: var(--branco);
    font-size: 60px;
    text-transform: uppercase;
    font-weight: 600;
}

.topo-contato h1 span {
    color: var(--vermelho);
    display: block;
    font-size: 80px;
    margin-top: -20px;
}

.topo-contato img.img-lateral {
    position: absolute;
    right: -10%;
    top: 0;
    max-width: 50%;
    animation: float 4s ease-in-out infinite;
    transform: translateY(0);
}

@keyframes float {
    0%, 100% {
        transform: translateY(20px);
    }
    50% {
        transform: translateY(0);
    }
}

.topo-contato form {
    margin-top: 40px;
}

.topo-contato form .input-group {
    position: relative;
    margin-bottom: 20px;
}

.topo-contato form input {
    border: 1px solid var(--branco);
    background: none;
    padding: 13px;
    width: 50%;
}

.topo-contato form .user-label {
    position: absolute;
    left: 15px;
    color: var(--branco);
    pointer-events: none;
    transform: translateY(13px);
    transition: 350ms;
}

.topo-contato form input:focus~label, .topo-contato form input:valid~label,
.topo-contato form .textarea:focus~label, .topo-contato form textarea:valid~label {
    top: -15px;
    transform: translateY(0%) scale(1);
    color: var(--vermelho);
    font-weight: 600;
    left: 0;
    font-size: 12px;
}


.topo-contato form .textarea {
    border: 1px solid var(--branco);
    background: none;
    color: var(--branco);
    padding: 15px;
    width: 50%;
}

.topo-contato form input:focus,
.topo-contato form input:valid {
    outline: none;
    --angle: 0deg;
    border-image: conic-gradient(from var(--angle), #bf1313, #bf1313, #bf1313, #bf1313, #000, #000, #000) 1;
    animation: 7s rotate9234 linear infinite;
    color: var(--branco);
  }

  .topo-contato form .textarea:focus,
  .topo-contato form textarea:valid {
    outline: none;
    --angle: 0deg;
    border-image: conic-gradient(from var(--angle), #bf1313, #bf1313, #bf1313, #bf1313, #000, #000, #000) 1;
    animation: 7s rotate9234 linear infinite;
  }

  .topo-contato form .btn {
    color: var(--branco);
    cursor: pointer;
  }

  @keyframes rotate9234 {
    to {
      --angle: 360deg;
    }
  }

  @property --angle {
    syntax: '<angle>';
    initial-value: 0deg;
    inherits: false;
  }


/* PAGE - FILMES */
.topo-filmes {
    padding-top: 200px;
    height: auto !important;
    padding-bottom: 200px;
}

.topo-filmes h1 {
    color: var(--branco);
    font-size: 35px;
    font-weight: 600;
    margin-bottom: 20px;
}

.topo-filmes h1 span {
    color: var(--vermelho);
    display: block;
    font-size: 80px;
    margin-top: -20px;
}

.topo-filmes img.img-lateral {
    position: fixed;
    right: -0%;
    top: 250px;
    max-width: 30%;
    z-index: -1;
}

.topo-filmes .d-grid {
    grid-template-columns: repeat(4, 1fr);
}

.topo-filmes .d-grid .box-img {
    height: 390px;
}

.topo-series {
    padding-top: 200px;
    height: auto !important;
    padding-bottom: 200px;
}

.topo-series img.img-lateral {
    position: absolute;
    right: -0%;
    top: 150px;
    max-width: 30%;
    z-index: -1;
}

.topo-series


@media screen and (max-width: 991px) {
    .d-grid {
        grid-template-columns: repeat(3, 1fr) !important;
    }
}

@media screen and (max-width: 767px) {
    h2, h1 {
        font-size: 40px !important;
    }

    h2 span, h1 span {
        font-size: 40px !important;
        margin-top: 0 !important;
    }

    header .container {
        top: 0;
        padding: 20px;
    }

    header .logo {
        max-width: 110px;
        margin-left: 20px;
    }
    header .navegacao-desktop {
        display: none;
    }

    header .menu-hamburguer {
        display: block;
        font-size: 30px;
        margin-right: 20px;
    }

    #topo.home {
        min-height: 600px;
    }

    #topo .swiper-pagination {
        position: absolute;
        right: auto;
        top: auto;
        bottom: 20px;
        left: 50%;
        transform: translateY(0);
        transform: translateX(-50%);
        display: flex;
        flex-direction: row;
        align-items: end;
        gap: 2px;
        width: auto !important;
    }

    #topo .swiper-pagination span.swiper-pagination-bullet-active {
        height: 18px;
        width: 30px;
    }

    #personagens .buttons {
        margin-top: 30px;
        position: static;
        right: 0;
        bottom: 0;
    }

    .box-fancy img {
        display: none;
    }

    .box-fancy {
        height: 90vh;
        width: 100%;
        padding: 40px 15px 40px 30px;
        background-color: var(--preto);
        overflow: hidden;
        border-radius: 50px;
    }

    #filmes h2 {
        max-width: 300px;
        margin-left: auto;
    }

    .d-grid {
        grid-template-columns: repeat(2, 1fr) !important;
    }

    .d-grid a .box-img {
        height: 350px !important;
    }

    footer .d-flex {
        display: block !important;
    }

    footer nav {
        margin-left: 0;
        margin-top: 30px
    }

    footer nav ul {
        gap: 15px;
        justify-content: start;
        flex-wrap: wrap;
    }

    footer nav ul.icons {
        margin-bottom: 20px;
    }

    .topo-filmes,
    .topo-series {
        height: auto !important;
        padding-bottom: 100px;
        padding-top: 130px;
    }

    .topo-filmes img.img-lateral {
        top: 0;
        max-width: 50%;
    }

    .topo-sobre {
        margin-top: 110px;
        height: auto !important;
        padding-bottom: 100px;
    }

    .topo-sobre img.img-lateral {
        position: static;
        margin-bottom: 30px;
    }

    .topo-contato img.img-lateral {
        position: static;
        display: block;
        margin: 0 auto;
        max-width: 300px;
        margin-top: 30px;
    }

    .topo-contato {
        margin-top: 130px;
        height: auto !important;
        padding-bottom: 100px;
    }

    .topo-contato form input,
    .topo-contato form .textarea {
        width: -webkit-fill-available;
    }

}

@media screen and (max-height: 680px) {
    #topo.home {
        min-height: 600px;
    }

    #topo.home .banner .informacao {
        height: 100%;
        padding-top: 150px;
    }

    #topo.home .banner {
        height: 100%;
    }

    .topo-contato form input {
        width: 100%;
    }
}